#{extends 'main.html' /}

#{set 'moreStyles'}
	#{stylesheet 'secure.css' /}
#{/set}

<div class="black_block">
	<div class="black_block_inner fixed_width">
		<div class="black_block_title">&{'please_login'}</div>
		<div class="black_block_text">&{'user_account_warning'}</div>
	</div>
</div>

<div class="fixed_width margin_auto">
	<div id="login">
			
		#{form @authenticate()}
			
			#{if flash.error}
				<p class="error">
					&{flash.error}
				</p>
			#{/if}
			#{if flash.success}
				<p class="success">
					&{flash.success}
				</p>
			#{/if}
		
			<p>
				<label for="username">&{'secure.username'}</label>
				<input type="email" name="username" id="username" value="${flash.username}" placeholder="some@email.com" required />
			</p>
			<p>
				<label for="password">&{'secure.password'}</label>
				<input type="password" name="password" id="password" value="" required />
			</p>
			<p id="remember-field">
				<label for="remember">&{'secure.remember'}</label>
				<input type="checkbox" name="remember" id="remember" value="true" ${flash.remember ? 'checked="true"' : ''} />
			</p>
			<p id="signin-field">
				<input type="submit" id="signin" value="&{'secure.signin'}" />
			</p>
		#{/form}
	</div>
</div>

<div class="black_block">
	<div class="black_block_inner fixed_width">
		<div class="left">
			<div class="black_block_title">&{'not_registered'}</div>
			<div class="black_block_text width_near_button">&{'having_an_account'}</div>
		</div>
		<div class="green_btn"><a href="@{Users.register}">&{'register'}</a></div>
		<div class="clear"></div>
	</div>
</div>