body{
	font-family: 'Lato', sans-serif;
}

#header{
	padding: 50px 0px 50px 0px;
}

#logo{
	font-size: 24px;
	float: left;
}

#logo a{
	text-decoration: none;
	color: black;
}

.menu_item{
	float:right;
	margin-right: 10px;	
	color: #999;
}

.black_block{
	background-color: black;
	height: 100px;	
}

.clear{
	clear: both;	
}

.margin_auto{
	margin: 0px auto;
}

.black_block_inner{
	color: white;	
	margin: 0px auto;
}

.black_block_title{
	color: white;
	font-size: 16px;
	padding: 10px 0px 10px 0px;	
}

.black_block_text{
	color: #999;
	font-size: 14px;
	padding: 10px 0px 10px 0px;	
}

.fixed_width{
	width: 800px;
}

.content_title{
	color: #999;	
}

.green_btn{
	float: right;
	background-color: green;
	padding: 10px;
	font-size: 20px;
	margin-top: 30px;
	cursor: pointer;
}

.green_btn a{
	text-decoration: none;
	color:white;
}

#add_demo_form{
	padding: 20px;
}

.add_demo_field{
	margin: 10px;
}

#add_demo_form input[type="text"], #add_demo_form input[type="file"]{
	display: block;
}

#add_demo_form label{
	display: block;
	margin-top: 10px;
	font-size: 14px;
	font-family: San serif;
}

#submit, #preview{
	margin-top: 20px;
}

.left{
	float: left;
}

.width_near_button{
	width: 680px;	
}

.demotivator_icon{
	display: inline-block;
	margin: 3px;	
}

.demotivator{
	padding: 20px 0px 20px 0px;	
	display: block;
	margin: 0 auto;
}

input[type='text']{
	 border-radius:3px;
	 -moz-border-radius:3px;
	 -webkit-border-radius:3px;
	 width: 220px;
	 border: 1px solid;
}

#locales{
	position: absolute;
	left: 10px;
	top: 10px;	
}

.center{
	text-align: center;	
}