body {
	font-family: 'Lato', sans-serif;
}

#header {
	padding: 50px 0px 50px 0px;
}

#logo {
	font-size: 24px;
	float: left;
}

#logo a {
	text-decoration: none;
	color: black;
}

#menu_items {
	float: right;
}

#menu_items ul .active a{
	background-color: green;
}

.black_block {
	background-color: black;
	height: 100px;
}

.margin_auto {
	margin: 0px auto;
}

.black_block_inner {
	color: white;
	margin: 0px auto;
}

.black_block_title {
	color: white;
	font-size: 16px;
	padding: 10px 0px 10px 0px;
}

.black_block_text {
	color: #999;
	font-size: 14px;
	padding: 10px 0px 10px 0px;
}

.fixed_width {
	width: 800px;
}

.content_title {
	color: #999;
}

.green_btn {
	float: right;
	background-color: green;
	padding: 10px;
	font-size: 20px;
	margin-top: 30px;
	cursor: pointer;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.green_btn a, .green_btn a:hover {
	text-decoration: none;
	color: white;
}

#add_demo_form {
	padding: 20px;
}

.add_demo_field {
	margin: 10px;
}

#submit,#preview {
	margin-top: 20px;
}

.left {
	float: left;
}

.width_near_button {
	width: 610px;
}

#demotivators_list > .demotivator_icon {
	display: inline-block;
	margin: 3px;
	float: none;
}

.demotivator {
	padding: 20px 0px 20px 0px;
	display: block;
	margin: 0 auto;
}

input[type='text'], input[type="password"], input[type="email"] {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	width: 220px;
	border: 1px solid;
}

#locales {
	position: absolute;
	left: 10px;
	top: 10px;
}

.center {
	text-align: center;
}

.vlidation_error {
	color: red;
	font-size: 12px;
	margin-left: 160px;
}

.buttons{
	margin-top: 10px;	
	margin-left: 155px;
}

#menu_items ul li a:active{
	color: red;
}

#preview{
	text-align: center;
	border: 10px solid #ccc;
	margin-bottom: 10px;	
	display: none;
}

.add-comment-textarea {
	padding: 0px;
	width: 100%;
}

.user_display_name {
	font-weight: bold;
}

#login form div label {
    display: block;
    width: 150px;
    float: left;
    text-align: right;
    margin-right: 5px;
    color: #333;
    margin-top: 5px;
}

#login form div input[type=file] {
    display: inline-block;
}