#{extends 'main.html' /}

<div class="black_block">
	<div class="black_block_inner fixed_width">
		<div class="black_block_title">&{'registering_is_good'}</div>
		<div class="black_block_text">&{'having_an_account'}</div>
	</div>
</div>

<div class="fixed_width margin_auto">
	<div id="login">
			
		#{form @registerNewUser()}
			
			#{if flash.error}
				<p class="error">
					&{flash.error}
				</p>
			#{/if}
			#{if flash.success}
				<p class="success">
					&{flash.success}
				</p>
			#{/if}
		
			<p id="email-field">
				<label for="email">&{'secure.username'}</label>
				<input type="text" name="email" id="email" value="${flash.email}" />
			</p>
			<p id="display-name-field">
				<label for="displayname">&{'display_name'}</label>
				<input type="text" name="displayname" id="displayname" value="${flash.displayname}" />
			</p>
			<p id="password-field">
				<label for="password">&{'secure.password'}</label>
				<input type="password" name="password" id="password" value="${flash.email}"/>
			</p>
			<p id="confirm-password-field">
				<label for="confirmpassword">&{'confirm_password'}</label>
				<input type="password" name="confirmpassword" id="confirmpassword" value="${flash.confirmpassword}" />
			</p>
			<p id="signin-field">
				<input type="submit" id="register" value="&{'register'}" />
			</p>
		#{/form}
	</div>
</div>

<div class="black_block">
	<div class="black_block_inner fixed_width">
		<div class="left">
			<div class="black_block_title">&{'changed_your_mind'}</div>
			 <div class="black_block_text width_near_button">&{'you_can_come'}</div>
		</div>
		<div class="green_btn"><a href="@{Application.index}">&{'home'}</a></div>
		<div class="clear"></div>
	</div>
</div>