#{extends 'main.html' /}

#{set 'moreStyles'}
	#{stylesheet 'secure.css' /}
#{/set}

<div class="black_block">
	<div class="black_block_inner fixed_width">
		<div class="black_block_title">&{'registering_is_good'}</div>
		<div class="black_block_text">&{'having_an_account'}</div>
	</div>
</div>

<div class="fixed_width margin_auto">
	<div id="login">
			
		#{form @registerNewUser()}
			<div class="vlidation_error">#{error 'email' /}</div>
			<div class="form-group">
				<label for="email" class="col-sm-2 control-label">&{'secure.username'}</label>
				<input type="email" name="email" id="email" value="${flash.email}"  placeholder="some@email.com" class="form-control" required />
			</div>
			
			<div class="vlidation_error">#{error 'displayname' /}</div>
		    <div class="form-group">
				<label for="displayname" class="col-sm-2 control-label">&{'display_name'}</label>
				<input type="text" name="displayname" id="displayname" value="${flash.displayname}" class="form-control" required />
			</div>
			
			<div class="vlidation_error">#{error 'password' /}</div>
			<div class="form-group" id="password-field">
				<label for="password" class="col-sm-2 control-label">&{'secure.password'}</label>
				<input type="password" name="password" id="password" value="${flash.password}" class="form-control" required />
			</div>
			
			<div class="vlidation_error">#{error 'confirmpassword' /}</div>
			<div class="form-group">
				<label for="confirmpassword" class="col-sm-2 control-label">&{'confirm_password'}</label>
				<input type="password" name="confirmpassword" id="confirmpassword" value="${flash.confirmpassword}" class="form-control" required />
			</div>
			<div class="buttons" id="signin-field">
				<input type="submit" id="register" class="btn btn-default" value="&{'register'}" />
			</div>
		#{/form}
	</div>
</div>

<div class="black_block">
	<div class="black_block_inner fixed_width">
		<div class="left">
			<div class="black_block_title">&{'changed_your_mind'}</div>
			 <div class="black_block_text width_near_button">&{'you_can_come'}</div>
		</div>
		<div class="green_btn"><a href="@{Application.index}">&{'home'}</a></div>
		<div class="clearfix"></div>
	</div>
</div>