#{extends 'main.html' /}

#{set 'moreStyles'}
	#{stylesheet 'secure.css' /}
#{/set}

#{set 'moreScripts'}
    #{script 'jquery.form.js'/}
#{/set}

#{add_script /}

<div class="black_block">
	<div class="black_block_inner fixed_width">
		<div class="black_block_title">&{'add_demo_title'}</div>
		<div class="black_block_text">&{'add_demo_text'}</div>
	</div>
</div>


<div id="add_demo_form" class="fixed_width margin_auto">

<div id="login">
<div id="preview"><img src="" width="300px" height="300px"/></div>
	<form action="@{Creator.create}" method="POST" enctype="multipart/form-data" name="demoForm" id="demoForm">
		    <div class="vlidation_error" id="image_error"></div>
			<div class="form-group">
			    <label for="image" class="control-label">&{'demo_image'}</label>
			    <input type="file" name="image" name="files[]" />
		    </div>
	    	<div class="vlidation_error" id="title_error"></div>
	    	<div class="form-group">
		    	<label for="title" class="control-label">&{'demo_title'}</label>
			    <input type="text" name="title" value="${flash.title}" pattern=".{1,30}" class="form-control" />
		    </div>
		    <div class="vlidation_error" id="text_error"></div>
		    <div class="form-group">
			    <label for="text" class="control-label">&{'demo_text'}</label>
			    <input type="text" name="text" value="${flash.text}" pattern=".{1,80}" class="form-control" />
		    </div>
		    <div class="buttons">
		    	<button name="preview" id="previewBtn" class="btn btn-default" />&{'preview'}</button>
		    	<button name="create" id="create" class="btn btn-default"/>&{'submit'}</button>
		    </div>
	</form>
</div>
</div>

