#{extends 'demo_page.html' /}

#{set 'moreScripts'}
    #{script 'index.pagination.js'/}
#{/set}

<div class="fixed_width margin_auto">
	<h4 class="content_title">&{'latest_demotivators'}</h4>
	
	<div class="thumbnails" id="demotivators_list">
		#{paginate.list items:paginator, as:'demo'}
            <div class="thumbnail span2 demotivator_icon">
                    <a href="@{Application.single(demo.id)}" class="thumbnail">
                    <img src="/image/thumb.${demo.fileName}"/>
                </a>
                <h5>${demo.title}</h5>
                <p>${demo.text}</p>
            </div>
    	#{/paginate.list}
    	#{else}
		    &{'no_demotivators'}
		#{/else}	
    </div>

    #{paginate.controls items:paginator /}
</div>