#{extends 'demo_page.html' /}

#{set 'moreStyles'}
	#{stylesheet 'play-pagination.css' /}
	#{stylesheet 'play-pagination-override.css' /}
#{/set}

<div class="fixed_width margin_auto">
	<h4 class="content_title">&{'latest_demotivators'} TEST CI</h4>
	<div id="demotivators_list" class="center">
		#{paginate.list items:paginator, as:'demo'}
			<div class="demotivator_icon">
		       	<a href="@{Application.single(demo.id)}#single_demotivator_image"><img src="/image/thumb.${demo.fileName}" /></a>
		    </div> 
    	#{/paginate.list}
    	#{else}
		    &{'no_demotivators'}
		#{/else}	
	</div>
    #{paginate.controls items:paginator /}
</div>