#{extends 'main.html' /}

<div class="black_block">
	<div class="black_block_inner fixed_width">
		<div class="black_block_title">&{'welcome_message_title'}</div>
		<div class="black_block_text">&{'welcome_message_text'}</div>
	</div>
</div>

<div id="latest_demotivators" class="fixed_width">
	<h4 class="content_title">&{'latest_demotivators'}</h4>
	
</div>

<div class="black_block">
	<div class="black_block_inner fixed_width">
		<div style="float:left;">
			<div class="black_block_title">&{'create_you_own_demotivator'}</div>
			<div class="black_block_text">&{'just_upload_an_image'}</div>
		</div>
		<div id="create_demo_btn">Create</div>
		<div class="clear"></div>
	</div>
</div>
