#{extends 'demo_page.html' /}

<script type="text/javascript">
   var saveCommentAction = #{jsRoute @Comments.addComment(':demoId') /};
   var demoId = ${demotivator.id};
   var userDisplayName = '${flash.userDisplayName}';
</script>

#{set 'moreScripts'}
    #{script 'single.js'/}
#{/set}

<div class="fixed_width margin_auto" id="single_demotivator">
	<a href="@{Application.next(demotivator.id)}"><img src="/image/${demotivator.fileName}" class="demotivator" id="single_demotivator_image" /></a>
	#{if session.username != null && session.username.equals(demotivator.author.email)}
        <form action="@{Demotivators.delete(demotivator.id)}" method="post" class="clearfix">
			<button name="foo" value="1" class="btn btn-danger pull-right">&{'delete'}</button>
        </form>
	#{/if}
	<div class="comments fixed_width">
		#{list items:demotivator.comments, as:'comment'}
			<div class="well well-small">
				<div class="user_display_name">${comment.user.displayName}</div>
		       	<div>${comment.text}</div>
			</div>
    	#{/list}
	</div>
	#{if session.username }
	    <form>
			<textarea rows="3" class="add-comment-textarea" id="add_comment"></textarea>
			<button class="btn pull-right" type="button" onclick="addComment()">&{'send'}</button>
			<div class="clearfix"></div>
		</form>
	#{/if}
</div>