<!DOCTYPE html>

<html>
    <head>
        <title>&{'title'}</title>
        <meta charset="${_response_encoding}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/bootstrap.min.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.6.4.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/bootstrap.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        #{get 'moreScripts' /}
    </head>
    <body>
    	<div id="locales">
    		<a href="/locale/ua"><img src="/public/images/icons/ua.png" /></a>
    		<a href="/locale/en"><img src="/public/images/icons/uk.png" /></a>
    	</div>
    	<div id=header class="fixed_width margin_auto">
    		<div id="logo"><a href="@{Application.index}">&{'ukrainian_demotivators'}</a></div>
    		<div id="menu_items">
	    		<ul class="nav nav-pills">
				  <li class="active">
				  	<a href="@{Creator.add}">&{'add_demotivator'}</a>
				  </li>
				  <li><a href="/best">&{'best'}</a></li>
				  <li><a href="/about">&{'about'}</a></li>
				</ul>
    		</div>
    		<div class="clear"></div>
    	</div>
        #{doLayout /}
    </body>
</html>
