<!DOCTYPE html>

<html>
    <head>
        <title>&{'title'}</title>
        <meta charset="${_response_encoding}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.6.4.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        #{get 'moreScripts' /}
    </head>
    <body>
    	<div id="locales">
    		<a href="/locale/ua"><img src="/public/images/icons/ua.png" /></a>
    		<a href="/locale/en"><img src="/public/images/icons/uk.png" /></a>
    	</div>
    	<div id=header class="fixed_width margin_auto">
    		<div id="logo"><a href="@{Application.index}">&{'ukrainian_demotivators'}</a></div>
    		<span class="menu_item">&{'about'}</span>
    		<span class="menu_item">&{'contact'}</span>
    		<span class="menu_item">&{'contribute'}</span>
    		<span class="menu_item">&{'best'}</span>
    		<span class="menu_item">&{'add_demotivator'}</span>
    		<div class="clear"></div>
    	</div>
        #{doLayout /}
    </body>
</html>
